/* Semua import harus paling atas */
@import url("https://fonts.cdnfonts.com/css/crushed");
@import url("https://fonts.googleapis.com/css2?family=Crushed&display=swap");
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-crushed: var(--font-crushed);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

.crushed-regular {
  font-family: var(--font-crushed), sans-serif;
  font-weight: 400;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 20s linear infinite;
}
html {
  scroll-behavior: smooth;
}
.font-neutralsans {
  font-family: var(--font-neutralsans);
}
